
.btn-primary{
    background-color: var(--btnColor);
    border-color: var(--btnColor);
    color: rgb(255, 255, 255);
}
.btn-primary:hover{
    background-color:  var(--hoverColor);
    color: rgb(255, 255, 255);
}
.btn{
    font-size: .8125rem;
    border-radius: 2px;
    margin-right: 8px;
}
.modal{
    top: 24px;
}